<!DOCTYPE html>
<html>
	<head>
		<title>iDiet</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="icon" href="images/Board.png">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/health.css') }}">
        <script type="text/javascript" src="static/js/graph.js"></script>

	</head>
	<body>
	
		<nav class="navbar navbar-inverse" id="header" data-spy="affix" data-offset-top="1"><!--TOP-->
			<div class="navbar-header" id="topLeft">
				<a href="home.html">
					<img id="logo" src="static/images/Logo Reverse.png">
				</a>
				<button id="collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topRight">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
			</div>
			
			
			<div class="collapse navbar-collapse navbar-right" id="topRight">
				<ul class="nav navbar-nav" id="navList">
					<li><a href="home.html">Home</a></li>
					<li><a href="recipe.html">Recipe</a></li>
					<li class="active1"><a href="health.html">My Health</a></li>	
					<li><a href="fun.html">Fun</a></li>
					<li><a href="community.html">Community</a></li>
				</ul>
				<a type="button" class="btn btn-default" id="loginButton" href="/login">Sign In</a>
			</div>
		</nav>
	
	
		<div class="parent-div"><!--BODY-->
			<img src ="static/images/running1.jfif" style="width:100%;">
			&nbsp;
			<div class="bmi">

				<script type="text/javascript" src="static/js/bmi.js"></script>

				<h1> BMI Calculator </h1>
				<p>Enter your height (cm): <input type="text" id="height" multiple/></p>
				<p>Enter your weight( kg): <input type="text" id="weight" multiple/></p>
				<input type="submit" value="Calculate" onclick="computeBMI();">
				<h1>Body Mass Index: <span id="output">?</span></h1>
				<h2><span id="comment"></span></h2>

			</div>
            <br><br>

            <div id="chartContainer" style="width:100%; height:280px"></div>
            Enter Updated BMI: <input id="newdp" type="number">
            <button id="addDataPoint">Update</button><br><br>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

		</div>
		
		{% include 'includes/_footer.html' %}

	</body>
</html>
