<!DOCTYPE html>
<html>
	<head>
		<title>iDiet</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="icon" href="images/Board.png">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/health.css') }}">
	</head>
	<body>
	
		<nav class="navbar navbar-inverse" id="header" data-spy="affix" data-offset-top="1"><!--TOP-->
			<div class="navbar-header" id="topLeft">
				<a href="home.html">
					<img id="logo" src="static/images/Logo Reverse.png">
				</a>
				<button id="collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topRight">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
			</div>
			
			
			<div class="collapse navbar-collapse navbar-right" id="topRight">
				<ul class="nav navbar-nav" id="navList">
					<li><a href="home.html">Home</a></li>
					<li><a href="recipe.html">Recipe</a></li>
					<li class="active1"><a href="health.html">My Health</a></li>	
					<li><a href="fun.html">Fun</a></li>
					<li><a href="community.html">Community</a></li>
				</ul>
				<a type="button" class="btn btn-default" id="loginButton" href="login.html">Sign In</a>
			</div>
		</nav>
	
	
		<div class="parent-div"><!--BODY-->
			<img src ="static/images/running1.jfif" style="width:100%;">
			&nbsp;
			<div class="bmi">
				<script type="text/javascript">

					function computeBMI() {
						// user inputs
						var height = Number(document.getElementById("height").value);
						var weight = Number(document.getElementById("weight").value);

						//Perform calculation

						//        var BMI = weight /Math.pow(height, 2)*10000;
						var BMI = Math.round(weight / Math.pow(height, 2) * 10000);

						//Display result of calculation
						document.getElementById("output").innerText = Math.round(BMI * 100) / 100;

						var output = Math.round(BMI * 100) / 100
						if (output < 18.5)
							document.getElementById("comment").innerText = "Underweight";
						else if (output >= 18.5 && output <= 25)
							document.getElementById("comment").innerText = "Normal";
						else if (output >= 25 && output <= 30)
							document.getElementById("comment").innerText = "Obese";
						else if (output > 30)
							document.getElementById("comment").innerText = "Overweight";
						// document.getElementById("answer").value = output; 
					}
				</script>

				<h1> BMI Calculator </h1>
				<p>Enter your height (cm): <input type="text" id="height" multiple/></p>
				<p>Enter your weight( kg): <input type="text" id="weight" multiple/></p>
				<input type="submit" value="Calculate" onclick="computeBMI();">
				<h1>BMI: <span id="output">?</span></h1>

				<h2><span id="comment"></span></h2> 
			</div>
			
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
			<h1>Some text to enable scrolling</h1>
		</div>
		
		{%  include 'includes/_footer.html' %}

	</body>
</html>