<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe_decor.css') }}">
    <link rel="icon" href="/static/images/Board.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
	<link href="{{ url_for("static", filename="css/footer.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/navbar.css") }}" rel="stylesheet">

    <script type="text/javascript">//<![CDATA[
	window.onload=function(){

			var list = document.getElementById('list');
			var add = document.getElementById('add');

			//adding a new element to the list
			add.addEventListener('click', function(){
			  var text = document.getElementById("ingredient").value;
			  var newElement = document.createElement('li');
			  list.appendChild(newElement);
			  newElement.innerHTML = "<span> "+text+"</span> &nbsp <button class='btn listing' id='delete'>x</button> ";
			  checkList();
			});

			list.addEventListener('click', function(e){
			  if(e.target && e.target.nodeName == "BUTTON") {
					// List item found!  Output the ID!
                  console.log("Button ", e, " was clicked!");

                  // $("#delete").closest("#userInput");
                  var userInputListItem =  e.target.parentNode;
                  var userInput =  userInputListItem.getElementsByTagName("span")[0].innerText;
                  deleteListItem(userInput);
                  console.log(userInput);
				  e.target.parentNode.remove();
				  checkList();
				}
			});
	}

	</script>

    for n in name:

	<script type="text/javascript">

            recipes = {{ name|safe }};
            var listName = []; //All the food name
            var userIngre = []; //User inpute ingredients


            for(var hello = 0; hello < recipes.length; hello++){ //iterate thru the number of food in database and store the name in ListName
                listName.push(recipes[hello]["name"]);
            }

            function addtolist() {
                var text = document.getElementById("ingredient").value;
                userIngre.push(text); //Push all user ingredient into list
            }

            function checkList() {
                var x = document.getElementById("list").innerHTML;
                if (x == "") {
                    for (var i in listName) {
                        var processId1 = listName[i].toLowerCase().replace(/ /g, "_");
                        $("#" + processId1).css("display", "");
                    }
                } else {
                    for (var u in listName) {
                        var processId2 = listName[u].toLowerCase().replace(/ /g, "_");
                        $("#" + processId2).css("display", "none");
                    }
                    checkCheckCheck();
                }
            }

            function checkCheckCheck(){
                for (var b in listName){
                    var ingredients = recipes[b]["item"];
                    ingredients = ingredients.split(",");
                    for (var n in userIngre){
                        var userIngredient = userIngre[n];
                        if(ingredients.includes(userIngredient) == true){
                            var idididid = listName[b].toLowerCase().replace(/ /g, "_");
                            $("#"+idididid).css("display", "");
                        }
                    }
                }
            }

            function deleteListItem(deItem){
                var i = userIngre.indexOf(deItem);
                userIngre.splice(i, 1);
                console.log(userIngre);
            }

            function myFunction() {
              var input, filter, table, tr, td, i;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
	</script>
</head>
<body>
	<nav class="navbar navbar-inverse" id="header" data-spy="affix" data-offset-top="1"><!--TOP-->
			<div class="navbar-header" id="topLeft">
				<a href="/">
					<img id="logo" src="static/images/Logo Reverse.png">
				</a>
				<button id="collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topRight">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>


			<div class="collapse navbar-collapse navbar-right" id="topRight">
				<ul class="nav navbar-nav" id="navList">
					<li><a href="/">Home</a></li>
					<li class="active1"><a href="/recipe">Recipe</a></li>
					<li><a href="/health">My Health</a></li>
					<li><a href="/fun">Fun</a></li>
					<li><a href="/community">Community</a></li>
				</ul>
                {% if user != null%}
                    <div id="usernameBox" style="background-color: {{ user["displaypicturecolor"] }}" class="dropdown-toggle" data-toggle="dropdown">
                        <img id="displayPic" src="{{ user['displaypicture'] }}">
                    </div>
                    <ul id="profileDropdown" class="dropdown-menu">
                        <li class="disabled"><a id="dropdownUsernameLink">Hi, <span>{{ user["firstname"] }}</span></a></li>
                        <li class="divider"></li>
                        <li><a class="dropdownLink" href="/profile"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Profile</a></li>
                        <li><a class="dropdownLink" href="/login"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Sign out</a></li>
                    </ul>
                {% else %}
                    <a type="button" class="btn btn-default" id="loginButton" href="/login">Sign In</a>
                {% endif %}
			</div>
		</nav>


		<div class="container-fluid content" style="padding: 100px;"><!--BODY-->
		<div class="hi2">
				<p class='speech'>Home Ingredient</p>
			<ul class='hi'>
				<li style="text-align:center;">Ingredient: <input type="text" style="text-align:center;" id="ingredient"/><input type="button" id="add" value="Add" onclick="addtolist();"/></li>
				<li>
					<div class="choice" id="myBtnContainer">
					Healthy Food:
					<label><button class="btn active" id="filter"> All</button></label>
					<label><button class="btn" id="filter"> Yes</button></label>
					<label><button class="btn" id="filter"> No</button></label>
					</div>
				</li>
				<li>
					<div class="choice">
						Time to prepare:
						<label><button class="btn active" id="filter2"> All</button></label>
					    <label><button class="btn" id="filter2"> Fast</button></label>
						<label><button class="btn" id="filter2"> Normal</button></label>
					</div>
				</li>
				<div class="hi3">
					<li><ul id='list'></ul></li>
				</div>
			</ul>
		</div>

		<div style="margin-left:40%;padding:1px 16px;height:600px;">
			<form><input class="search" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for food"></form>
			<h2 style="color: white; font-weight: bold;">Welcome to Recipe</h2>
			<div class="recipe_box">
				<div class="recipe_box1">
					<div class="container">
						<table id="myTable">
							<thead>
							  <tr class="header">
								<th style="width:10%;">Photo</th>
								<th style="width:30%;">Food</th>
								<th style="width:20%;"><img id="Cook" src="static/images/Cook.png">Prep.</th>
								<th style="width:20%;"><img id="Cook1" src="static/images/Cook1.png">Cook</th>
								<th style="width:20%;">Calories(/100g)</th>
							  </tr>
							</thead>
							<tbody id="myTable1">
							{% for i in name %}
								  <tr id="{{ i['id'] }}" onclick="location.href='{{i['steps']}}';">
									  <td><img id="photo" src="static/images/food/{{i['photo']}}"></td>
									  <td>{{i['name']}}</td>
									  <td>{{i['prep']}}</td>
									  <td>{{i['cook']}}</td>
                                      <td id="item" style="display: none;">{{i['item']}}</td>
                                      <td id="id-tag" style="display: none;">{{i['id']}}</td>
									  <td style="text-align: center">{{i['cal']}}</td>
								  </tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'includes/_footer.html' %}
</body>
</html>